{% load static %}
<header>
    <div class="logo">
        <img src="{% static 'user-frontend/images/arrow.jpeg' %}" alt="Arrow Img" width="150px">
    </div>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#" class="signup-btn">Sign Up</a></li>
            <li><a href="#"><i class="fas fa-user"></i></a></li>
            
        </ul>
    </nav>
</header>