body{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: silver;
    justify-content: space-around;
    /* align-items: center; */
    align-items: center;
    height: 70px;
}


ul {
    display: flex;
    list-style-type: none;
    /* background-color: rebeccapurple; */
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: #4e0b0b;
}

li a::after{
    content: '';
    display: inline-block;
    height: 2px;
    width: 0;
    background: #1a0b4e;
    transition: all;
}


li a:hover::after{
    width: 100%;
}
