*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img{
    max-width: 670px;
    height: auto;

    
}

.content-left{
    width: 30%;
}

.content-left a{
    text-decoration: none;
}



main h1 {
    font-size: 54px;
    color: #13384F;
    text-transform: uppercase;
}


main h2 {
    font-size: 25px;
    color:#FCA70C;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}

main p {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 31.5px;
    margin: 30px 0;
}

.cta{
    padding:15px 30px;
    background: #c4c4f7;
    color:#fff;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
   
}


.list .signup-btn{

    padding:10px 20px;
    background: #c4c4f7;
    color:#fff;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    text-decoration: none;
    
}

.custom-btn{

    padding:10px 20px;
    background: #c4c4f7;
    color:#fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 50px;

    
}
.card a {
    text-decoration: none;
}
.card {
    border-radius: 15px;
    border: 1px solid silver;
}


.myh1 {
    color:red;
}


/* .................Card.................. */

.card1 {
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
   
  
}

.card-item {
    border:1px solid #ebecf0;
    align-items: center;
    justify-content: center;
    flex-basis: 20%; 
    border-radius: 30px;
    background-color: transparent;
    padding: 15px;
    box-sizing: border-box;
    transition: transform .5s;
    transform: translateZ(0);
    margin:5px 5px;
    background-color: rgb(248, 245, 245);
   
    
}
.card-item image {
    color: transparent;
    vertical-align: middle;
}
.card-item a{
    text-decoration: none;
}
.card-item a img {
    border: none;
}

.card-item p {
    text-align: center;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



.view-btn {
    padding:5px 5px;
    background: #c4c4f7;
    color:#fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}





/* CSS for Categorybase Product Showing Page */

.category-base{
  display: flex;
  justify-content:space-between;
}

.hola {
  
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  /* border:1px solid brown; */
}

/* hola-item and .card-item are the same */
.hola-item{
    border:1px solid #ebecf0;
    align-items: center;
    justify-content: center;
    flex-basis: 20%; 
    border-radius: 10px;
    background-color: transparent;
    padding: 15px;
    box-sizing: border-box;
    transition: transform .5s;
    transform: translateZ(0);
    margin:5px 5px;
    background-color: rgb(248, 245, 245);
}


.hola-item image {
  color: transparent;
  vertical-align: middle;
}
.hola-item a{
  text-decoration: none;
}
.hola-item a img {
  border: none;
}

.hola-item p {
  text-align: center;
}

.hola-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


.category-right {
  height: auto;
  /* border: 1px solid red; */
  
}

.category-right ul {
  list-style-type: square;
}



.category-right ul li a {
  color:blue;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
}

/* .................................................. */



/* Product Detail Design */

.product-detail{

  display: flex;
  justify-content: space-around;
  margin-top:50px;
}


.detail-content{
  display: flex;
  justify-content: space-around;
}


.buy-btn {
  padding:10px 20px;
  background: #c4c4f7;
  color:rgb(156, 103, 103)156, 103, 103);
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 50px;
  
}

.small-description a {
  text-decoration: none;
}

.minus-btn, .plus-btn{
  line-height: 1;
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  color: white;
  border-color:#6b6969;
  min-height: initial;
  max-height: initial;
  min-width: initial;
  max-width: initial;
  font-size: 15px;
  
  border-style: solid;
  border-width: 1px;
  transition: none;
  border-radius: 5px;
  background: blue;
}

.small-description input{
  line-height: 1;
  background: none;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 31px;
  width: 55px;
  border-color:#6b6969;
  box-shadow: none;
  font-size: 15px;
  
 
  border:1px solid blue;
  border-radius: 5px;
}


.add-to-wish-list{
  display: block;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 2px 20px;
  margin-bottom: 15px;
  margin-top:10px;
  text-align: center;
  /* display: inline-block; */

}


.detail-feature-product {
  height: auto;
  /* border: 1px solid red; */
  
}

.detail-feature-product ul {
  list-style-type: none;
}


.detail-feature-product ul li a {
  color:blue;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
}

.detail-feature-product span{
    color: blue;
    display: inline-block;
    text-transform: uppercase;
}

.feature-product{
  
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 2px 30px;
  margin-bottom: 15px;
  line-height: 40px;
  display: inline-block;
  color: blue;
  background: rgb(184, 184, 184);
  text-transform: uppercase;
}

/* .................................. */
































/* navbar ..........................*/

.navbar-brand>img {
    /* padding-top: 11px; */
    width: 100px;
    margin-left: 60px;
    height: 50px;
    
  }
  .navbar-brand {
      height: auto;
      margin: 0;
      padding: 0;
      margin-right: 150px;
  }
  .navbar-default{
  color: #fff;
  background:rgb(138, 131, 131);
  color:#fff;
  outline: none;
  border: none;
  border-color: #000000;
  }
  .navbar-default .navbar-nav > li > a{
     color:#fff;
  }
  .navbar-default .navbar-nav > .dropdown > a .caret{
     border-top-color: #fff;
      border-bottom-color: #fff;
  }
  .navbar-default .navbar-brand{
     color:#fff;
  }
  .menu-large {
    position: static !important;
  }
  .megamenu{
    padding: 20px 0px;
    width:100%;
  }
  .megamenu> li > ul {
    padding: 0;
    margin: 0;
  }
  .megamenu> li > ul > li {
    list-style: none;
  }
  .megamenu> li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
  }
  .megamenu> li ul > li > a:hover,
  .megamenu> li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
  }
  .megamenu.disabled > a,
  .megamenu.disabled > a:hover,
  .megamenu.disabled > a:focus {
    color: #999999;
  }
  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #00A7E8;
  }
  .megamenu.disabled > a:hover,
  .megamenu.disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
  }
  .megamenu.dropdown-header {
    color: #428bca;
    font-size: 18px;
  }
  @media (max-width: 768px) {
    .megamenu{
      margin-left: 0 ;
      margin-right: 0 ;
    }
    .megamenu> li {
      margin-bottom: 30px;
    }
    .megamenu> li:last-child {
      margin-bottom: 0;
    }
    .megamenu.dropdown-header {
      padding: 3px 15px !important;
    }
    .navbar-nav .open .dropdown-menu .dropdown-header{
     color:#fff;
    }
  }
  


/* ................................... */