{% extends 'user-frontend/base.html' %}
{% load static %}



{% block content %}
<div class="main-checkout">
    <div class="content-left">
       

      <!-- .........Checkout Form............ -->
        <form method="post">
          {% csrf_token %}
          <h4>Shipping Address</h4>
          <div class="hideable_shipping_form">
            <label for="shipping_address">Address:</label>
            <input type="text" class="form-control" name="shipping_address" id="shipping_address" placeholder="1234 Main St">
           
            <label for="shipping_address2">Address 2 <span class="text-muted">(Optional)</span></label>
            <input type="text" name="shipping_address2"  class="form-control" id="shipping_address2" placeholder="Apartment or suite">
            <label for="country">Country:</label>
            {{form.shipping_country}} <br>
              

              
            <label for="shipping_zip">Zip:</label>
            <input type="text" class="form-control" name="shipping_zip" id="shipping_zip" placeholder="Enter Zip" >
            
            <div class="d_billing_form">
            <input type="checkbox" class="custom-control-input" id="same_billing_address" name="same_billing_address">
            <label for="same_billing_address"><small>Billing address is the same as my shipping address</small></label> <br>
            </div> 
            
            <input type="checkbox" class="custom-control-input" id="set_default_shipping" name="set_default_shipping">
            <label class="custom-control-label" for="set_default_shipping"><small>Save this information for next time</small></label>
           
          </div>
            
          {% if default_shipping_address  %}
            
          <input type="checkbox" class="custom-control-input" id="use_default_shipping" name="use_default_shipping">
          <label class="custom-control-label" for="use_default_shipping"><small>Use default shipping address:</small> <span class="text text-primary">{{ default_shipping_address }}</span></label>
     
         {% endif %}
     

          <hr>
          <h4>Billing address</h4>
          <div class="hideable_billing_form">
            <label for="billing_address">Address:</label>
            <input type="text" class="form-control" name="billing_address" id="billing_address" placeholder="1234 Main St" >
           
            <label for="billing_address2">Address 2 <span class="text-muted">(Optional)</span></label>
            <input type="text" name="billing_address2"  class="form-control" id="billing_address2" placeholder="Apartment or suite">
            <label for="country">Country:</label>
            {{form.billing_country}} <br>
              

              
            <label for="billing_zip">Zip:</label>
            <input type="text" class="form-control" name="billing_zip" id="billing_zip" placeholder="Enter Zip"> <br>
            
            <input type="checkbox" class="custom-control-input" id="set_default_billing" name="set_default_billing">
            <label class="custom-control-label" for="set_default_billing"><small>Save this information for next time</small></label>
             
          </div>

          {% if default_billing_address %}
            <div class="use-default-billing-adddress">
            <input type="checkbox" class="custom-control-input" id="use_default_billing" name="use_default_billing">
            <label class="custom-control-label" for="use_default_billing"><small>Use default Billing Address: </small><span class="text text-primary">{{ default_billing_address}}</span class="text text-primary"></label>
            </div>
            {% endif %}
          <button class="btn btn-primary btn-sm btn-block" type="submit">Continue to checkout</button>
        </form>

       
  
      <!-- ............................. -->

    </div>

    <div class="content-right">
       
       
       {% for so_line in so.so_lines.all %}
         
       
          <div class="data">
            <div>
              <img src="{{so_line.product.image.url}}" height="80px" width="80px" alt="">
              <p>{{so_line.product.name}}</p>
            </div>
            <div>
              <p>{{so_line.quantity}} 
                <i class="fa fa-times" aria-hidden="true"> </i> 
                <i class="fa fa-times" aria-hidden="true"> </i>
                
                {{so_line.product.sale_price}}</p>
             
              <p>Total: <b>{{so_line.sub_total}}</b></p>
            </div>
          </div>
        {% endfor %}
        <div class="order-total">
        <p ><b>ORDER TOTAL : {{so.sale_order_total}}</b></p>
        
        {% if so.coupon %}
          <p>Apply Coupon Amount : {{so.coupon.amount}}</p>
        {% endif %}
          
        
        </div>
        <div>
          <form class="coupon-form">
            <label>Coupon Code:</label>
            <input type="text" placeholder="Enter Coupon Code" class="coupon-value" value=""/>
            <button class="coupon-btn" type="submit">Add</button>
            
          </form>
      </div>

</div>




{% endblock content %}
    



{% block javascripts %}
<script  type="text/javascript">
    



var hideable_shipping_form = $('.hideable_shipping_form');
var hideable_billing_form = $('.hideable_billing_form');
var d_billing_form = $('.d_billing_form');


var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
var use_default_billing = document.querySelector("input[name=use_default_billing]");
var same_billing_address =  document.querySelector("input[name=same_billing_address]");

$("#same_billing_address").click(function(){
  if(this.checked){
    $(".hideable_billing_form").hide()
    $(".use-default-billing-adddress").hide()
  }
  else {
    $(".hideable_billing_form").show()
    $(".use-default-billing-adddress").show()


  }
})

if(use_default_shipping) {
  use_default_shipping.addEventListener('change', function() {
  if (this.checked) {
    hideable_shipping_form.hide();
  } else {
    hideable_shipping_form.show();
  }
})
}

if(use_default_billing){
  use_default_billing.addEventListener('change', function() {
  if (this.checked) {
    hideable_billing_form.hide();
  } else {
    hideable_billing_form.show();
  }
})
}



$(".coupon-btn").click(function(e){
  e.preventDefault()
  console.log("ADD COUPON BUTTON CLICKED")
  var coupon_val = $(".coupon-value").val()
  currentLocation = window.location.href
  var url = "{% url 'frontend:add-coupon-view'  %}" 
  var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val()
  mydata = {csrfmiddlewaretoken:csrfmiddlewaretoken,coupon:coupon_val}
  $.ajax({
        method:'POST',
        url:url,
        data:mydata,

        success:function(response){
            
            if(response.err){
              
              alert(response.err)
              $(".coupon-value").val("")
              
            }
            else {
              if(response.success){
                alert(response.success)
                window.location.href= currentLocation
              }
            }
          
          
        },
        error:function(error){
          console.log(error)
        }


      })

})



</script>    




{% endblock javascripts %}
    