{% extends 'user-frontend/base.html' %}
{% load static %}



{% block content %}
<p>Product Detail</p>




<div  class="product-detail">
    <div class="detail-content">
        <div class="img-part">
            <h1>Img Part</h1>
            <img src="{% static 'user-frontend/images/img.png' %}" height="300px">
        </div>

        <div class="small-description">
            <h1>{{product.name}}</h1> <span class="badge badge-success">{{product.category.name}}</span>
            <p><del>{{product.sale_price}}</del> KS</p>
            <p>{{product.sale_price}} KS</p>
            <form>
              {% csrf_token %}
            <!-- <button class="minus-btn">-</button> -->
            <input type="button" id="minus" data-id="{{product.id}}" value="-" class="plus-btn" />

            <input id="quantity" type="number"  min="0" value="1">
            <!-- <button id="plus" class="plus-btn" data-id="{{product.id}}">+</button> -->
            <input type="button" id="plus" data-id="{{product.id}}" value="+" class="plus-btn" />
            <!-- <input type="button" id="btnsave" value="save" class="btn btn-success btn-sm " /> -->
            <input type="button" id="buyproduct" data-id="{{product.id}}" value="Buy" class="plus-btn" />

          </form>


          

            <a href="#" class="add-to-wish-list">  <i class="fa fa-heart" aria-hidden="true"></i>Add to wish list</a>
            <p></p>

        </div>
    </div>
    <div class="detail-feature-product">
       <p class="feature-product">Feature Products</p>
       <ul>
           
           {% for product in product_lists  %}
               
           
               
           <li>
             <a href="{% url 'frontend:p-detail' product.id %}"><img src="{{product.image.url}}" width="80px" height="60px"> </a>
                <span>{{product.name}}</span> -
               <span class="text-center"> {{product.sale_price}} Ks</span>
           
            </li>
            <hr>
           {% endfor %}
       </ul>
    </div>
</div>

{% endblock content %}
    



{% block javascripts %}

  <script type="text/javascript">
    console.log("Add to cart")
    $(document).ready(function(){
      if($("input[type='number']").val() == "1"){
        $("input[type='number']").prop('disabled', true);
    }
    })
    

    $("#minus").click(function(){
      
    if($("input[type='number']").val() == "1"){
        $("input[type='number']").prop('disabled', true);
    }else{
      
       var qty = $("#quantity").val()
       var qty =  parseInt(qty)
       $("#quantity").val(qty-1)
    }
    })



    $("#plus").click(function(){
      var dataId = $(this).attr('data-id')
      var intdataId = parseInt(dataId)

      
      var qty = $("#quantity").val()
      var qty =  parseInt(qty)
      $("#quantity").val(qty+1)
     
     
      var url = "{% url 'frontend:add-to-cart' 24  %}" 
      var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val()
      mydata = {csrfmiddlewaretoken:csrfmiddlewaretoken, productid:intdataId}
      $.ajax({
        method:'POST',
        url:url,
        data:mydata,

        success:function(response){
          console.log(response,'########')
          
          
        },
        error:function(error){
          console.log(error)
        }


      })
     

    })

    //alert close and showing error
    $("#AtttoCardError a").click(function(){
      $("#AtttoCardError").hide()
    })


    // after click buy product

    $("#buyproduct").click(function(){
      var dataId = $(this).attr('data-id')
      var intdataId = parseInt(dataId)
      // console.log(intdataId)
      var qty = $("#quantity").val()
      var qty =  parseInt(qty)

      // console.log(qty)

      

      var url = "{% url 'frontend:buy-product' 24  %}" 
      var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val()
      mydata = {csrfmiddlewaretoken:csrfmiddlewaretoken, productid:intdataId,quantity:qty}

      


      $.ajax({
        method:'POST',
        url:url,
        data:mydata,

        success:function(response){
          console.log(response)
          if(response.count ===1 ){
              var currentCount = $("#navbarCount").html()
              var intcurrentCount = parseInt(currentCount)
              console.log(intcurrentCount)
              $("#navbarCount").html(intcurrentCount + response.count)
              
              
          }
          //if not login
          if(response.error == "Login First"){
             alert("You need to Login First to apply order")
              $("#AtttoCardError p").html("You need to login first")
              $("#AtttoCardError").show()
              
              
          }

          //if customer is not in the db
          if(response.error == "Not a Customer"){
              $("#AtttoCardError p").html("Not a customer")
              $("#AtttoCardError").show()
              alert("The requested user is not in the customer list")
              
          }
          if(response.data == "Qty Updated"){
            $("#AtttoCardError p").html("Qty Updated")
            $("#AtttoCardError").show()
             alert("Qty updated")
             
         }

          
          
        },
        error:function(error){
          console.log(error)
        }


      })
     
    })
     
  </script>


    
{% endblock javascripts %}
    